/* ===============================
   FILTER
================================ */
.customers-filter {
    margin-bottom: 22px;
}

.customers-filter select {
    width: 100%;
    max-width: 660px;
    padding: 10px 14px;
    border: 1px solid #ddd;
    font-size: 14px;
    border-radius: .35rem;
}

/* ===============================
   GRID
================================ */
.customers-grid {
    width: 100%;
    max-width: 660px;
    font-size: 14px;
    gap: 18px;

}

/* ===============================
   CARD
================================ */
.customer-card {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 16px 18px;
    border-radius: .35rem;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 2px 10px #e5e6f0;
}

.customer-card:hover {
    transform: translateY(-2px);
}

/* ===============================
   AVATAR
================================ */
.avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: linear-gradient(135deg, #4f46e5, #6366f1);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    margin-right: 14px;
}

/* ===============================
   INFO
================================ */
.info h4 {
    margin: 0;
    font-size: 15.5px;
    font-weight: 600;
}

.info .email {
    font-size: 13px;
    color: #6b7280;
    margin-top: 3px;
}

.info .time {
    display: block;
    margin-top: 6px;
    font-size: 12px;
    color: #9ca3af;
}

/* ===============================
   ARROW
================================ */
.arrow {
    margin-left: auto;
    font-size: 22px;
    color: #c0c4cc;
}

/* ===============================
   STATE
================================ */
.state-text {
    text-align: center;
    margin-top: 60px;
    color: #6b7280;
}

/* ===============================
   MOBILE
================================ */
@media (max-width: 768px) {
    .customers-grid {
        grid-template-columns: 1fr;
    }
}


.customers-page {
    width: 100%;
    max-width: 660px;
}