.fu-wrapper {
  padding: 30px;
  background: #f6f7fb;
  min-height: 100vh;
}

.fu-header {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}

.fu-back-btn {
  background: white;
  border: none;
  font-size: 22px;
  padding: 5px 12px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.fu-title {
  font-size: 26px;
  font-weight: 700;
  margin: 0;
}

.fu-subtitle {
  font-size: 14px;
  color: #666;
  margin-top: 2px;
}

/* MAIN CARD */
.fu-card {
  background: white;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  margin-bottom: 25px;
}

.fu-label {
  font-size: 18px;
  font-weight: 600;
}

.fu-description {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}

/* UPLOAD BOX */
.fu-upload-box {
  border: 2px dashed #cfd3df;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  background: #fafbff;
  position: relative;
  cursor: pointer;
}

.fu-upload-icon {
  font-size: 50px;
  color: #9bb1ff;
  margin-bottom: 10px;
}

.fu-upload-text {
  color: #444;
  font-size: 15px;
}

.fu-upload-link {
  color: #4c7cff;
  text-decoration: underline;
  cursor: pointer;
}

/* Hidden file input */
.fu-input {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
}

/* ERROR & SUCCESS */
.fu-error {
  margin-top: 10px;
  color: red;
  font-size: 14px;
}

.fu-success {
  color: green;
}

/* TEXTAREA CARD */
.fu-textarea {
  width: 100%;
  height: 110px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 14px;
  margin-top: 10px;
  font-size: 15px;
}

.fu-counter {
  text-align: right;
  margin-top: 6px;
  font-size: 13px;
  color: #888;
}

/* SAVE BUTTON */
.fu-save-btn {
  background: linear-gradient(80deg, #5550FF, #3C4984);
  color: white;
  font-size: 18px;
  border: none;
  padding: 12px 35px;
  border-radius: 10px;
  cursor: pointer;
}

.fu-save-btn:hover {
  background: #43a047;
}

.fu-remove-btn {
  background: #f4f4f4;
  color: #555;
  font-size: 13px;
  padding: 5px 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: 0.2s;
}

.fu-remove-btn:hover {
  background: #e6e6e6;
}


.fu-file-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button.fu-cancel-btn {
    margin-top: 16px;
    padding: 10px 18px;
    background: #4f46e5;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button.popup-box-btn {
    margin-top: 16px;
    padding: 10px 18px;
    background: #4f46e5;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
