.kb-wrapper {
  padding: 25px;
  background: #f6f7ff;
}

/* Header */
.kb-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.kb-icon-box {
  width: 50px;
  height: 50px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.kb-header-icon {
  font-size: 24px;
  color: white;
}

.kb-title {
  font-size: 22px;
  font-weight: 700;
  text-align: left;
}

.kb-subtitle {
  margin-top: -5px;
  color: #666;
}

/* Colors */
.purple {
  background: #b47bff;
}

.green {
  background: #63d471;
}

.blue {
  background: #4aa8ff;
}

.yellow {
  background: #ffb84a;
}

/* Search Row */
.kb-search-row {
  display: flex;
  gap: 10px;
  margin: 20px 0;
  border: 1px solid #d6d6f3;
}

.kb-search {
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  border: 1.5px solid #d6d6f3;
  outline: none;
}

.kb-dropdown {
  width: 150px;
  padding: 12px;
  border-radius: 8px;
  border: 1.5px solid #d6d6f3;
  outline: none;
}

/* Cards */
.kb-card {
  background: white;
  border-radius: .35rem;
  padding: 14px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 10px #e5e6f0;
  margin-bottom: 12px;
  cursor: pointer;
  transition: 0.2s;
}

.kb-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 14px #d9daea;
}

.kb-icon {
  padding: 12px;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: white;
  margin-right: 14px;
}

.kb-info h3 {
  margin: 0;
  font-size: 17px;
  font-weight: 600;
}

.kb-info p {
  margin: 2px 0 0;
  font-size: 13px;
  color: #666;
}

.kb-arrow {
  margin-left: auto;
  font-size: 32px;
  color: #bcc0d1;
}

/* Button */
.kb-more-btn {
  width: 100%;
  padding: 14px;
  margin-top: 10px;
  background: var(--secondary-color);
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}


@media screen and (max-width: 768px) {
  .kb-icon {
    padding: 10px;
    border-radius: .25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: white;
    margin-right: 10px;
  }

  .kb-info h3 {
    font-size: 16px;
  }

  .kb-info p {
    margin: 2px 0 0;
    font-size: 13px;
    color: #666;
  }

  .kb-arrow {
    margin-left: auto;
    font-size: 30px;
    color: #bcc0d1;
  }
}